h1 {
  text-decoration: underline;
}
body {
    background-color: #65d6be;
    width: 50%;
    margin: 0 auto;
}

/* Style the header */
header {
    height: 150px;
    background-image: url("Lebron 12.png");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

header h1 {
    text-align: center;
    padding-top: 50px;
    color:deeppink;
}

#pig {
    color: rgb(255, 0, 0);
    background-color:blue;
}

.blue {
    background-color: #00c5c5;
    color: #003366;
    padding: 10px;
}

#green {
    background-color: #009cb1;
    color: #004d00;
    padding: 10px;
}

#cow {
    border: 5px dashed #ff02b3;
    color: #56119b;
}

#duck {
    border-bottom: lime 10px solid;
    color: #56119b;
}
}
