h1 {
  text-decoration: underline;
}
/* Set the background color of the entire page */
body {
    background-color: #f5f5f5;   /* light gray (any light color works) */
    width: 50%;                  /* page width set to 50% */
    margin: 0 auto;              /* centers the page */
}

/* Style the header */
header {
    height: 150px;
    background-image: <img src="Lebron.jpg" alt="Lebron">
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}
